* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.maincontainer {
    width: 100%;
    height: auto;
}

.navbar {
    height: 13.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 38px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav1 {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.nav1 h3 {
    font-size: 13.5px;
}

.nav1 img {
    width: 8.5%;
}

.nav2 {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.nav2 h5 {
    font-weight: 500;
}

.nav2 button {
    height: 31px;
    width: 77px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    font-weight: 500;
}

#i1 {
    display: none;
}

#jn {
    background-color: black;
    color: white;
    width: 95px;
}

.nav2 span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;/
}

.nav2 span i {
    width: 27px;
    font-size: 20px;
}

.nav1 h3:hover {
    color: darkgreen;
}

.nav2 span:hover {
    color: darkgreen;
}

.maincontent {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
    flex-direction: column;
    padding-inline: 40px;
}

.bi1 {
    height: 420px;
    width: 100%;
    margin-bottom: 27px;
    display: flex;

}

.i1 {
    height: 100%;
    width: 50%;
    background-image: url(/Starbucks-clone/137-93215.jpg);
    background-size: cover;
    background-position: center;
}

.i2 {
    height: 100%;
    width: 50%;
    background-color: rgb(4, 97, 68);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.i2 p {
    font-size: larger;
    margin-top: 20px;
}

.i2 p2 {
    font-size: larger;
}

.i2 p3 {
    font-size: larger;
}

.i2 p4 {
    display: none;
}

.i2 button {
    width: 103px;
    height: 35px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 1000;
    margin-top: 20px;
}

.bi2 {
    height: 620px;
    width: 100%;
    display: flex;
    padding-bottom: 27px;
}

.i11 {
    height: 100%;
    width: 50%;
    background-color: rgb(154, 10, 154);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.i11 h1 {
    font-size: 55px;
}

.i11 p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
}

.i11 button {
    width: 115px;
    height: 35px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 1000;
    margin-top: 20px
}

.i22 {
    height: 100%;
    width: 50%;
    background-image: url(/Starbucks-clone/137-93232.jpg);
    background-position: center;
    background-size: cover;
}

.bi3 {
    height: 620px;
    width: 100%;
    display: flex;
    margin-bottom: 27px;
}

.i33 {
    height: 100%;
    width: 50%;
    background-image: url(/Starbucks-clone/137-93386.jpg);
    background-size: cover;
    background-position: center;
}

.i44 {
    height: 100%;
    width: 50%;
    background-color: rgb(139, 193, 211);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.i44 button {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    font-weight: 1000;
    margin-top: 20px
}

.i44 h1 {
    text-align: center;
    font-size: 55px;
}

.i44 p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
}

.bi4 {
    height: 420px;
    width: 100%;
    display: flex;
    margin-bottom: 27px;
}

.i55 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(130, 209, 161);
}

.i55 button {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    font-weight: 1000;
    margin-top: 20px;
}

.i55 p {
    margin-top: 20px;
    font-size: 20px;
}

.i55 p2 {
    font-size: 20px;
}

.i55 p3 {
    display: none;
}

.i66 {
    height: 100%;
    width: 50%;
    background-image: url(/Starbucks-clone/137-93234.jpg);
    background-size: cover;
    background-position: center;
}

.bi5 {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.bi5 p {
    font-size: 14px;
    margin-top: 10px;
}

.bi5 p2 {
    font-size: 14px;
}

.bi5 p3 {
    font-size: 14px;
}

.bi5 p4 {
    font-size: 14px;
}

.bi5 p5 {
    font-size: 14px;
}
.bi5 p6 {
    display: none;
}

.nav2 button:hover {
    background-color: rgb(208, 201, 201);
}

#jn:hover {
    background-color: rgb(107, 100, 100);
}

.endp1 {
    width: 100%;
    height: 450px;
    display: flex;
}

.line1 {
    height: 100%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-inline: 40px;
    padding-bottom: 30px;
}

.line1 p {
    font-size: 20px;
    margin-bottom: 10px;
}

.line1 a {
    color: gray;
    text-decoration: none;
    font-size: 17px;
}

.line2 {
    height: 100%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-inline: 40px;
}

.line2 p {
    font-size: 20px;
    margin-bottom: 10px;
}

.line2 a {
    color: gray;
    text-decoration: none;
    font-size: 17px;
}



.line3 {
    height: 100%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 200px;
}

.line3 p {
    font-size: 20px;
    margin-bottom: 10px;
}

.line3 a {
    color: gray;
    text-decoration: none;
    font-size: 17px;
}



.line4 {
    height: 100%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-inline: 20px;
    padding-bottom: 150px;
}

.line4 p {
    font-size: 20px;
    margin-bottom: 10px;
}

.line4 a {
    color: gray;
    text-decoration: none;
    font-size: 17px;
}



.line5 {
    height: 100%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-inline: 10px;
    padding-bottom: 80px;
}

.line5 p {
    font-size: 20px;
    margin-bottom: 10px;
}

.line5 a {
    color: gray;
    text-decoration: none;
    font-size: 17px;
}

.line1 a:hover {
    color: black;
}

.line2 a:hover {
    color: black;
}

.line3 a:hover {
    color: black;
}

.line4 a:hover {
    color: black;
}

.line5 a:hover {
    color: black;
}

.endp2 {
    height: 485px;
    width: 100%;
}

.iconpart {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
    padding-inline: 40px;
    font-size: 33px;
    padding-bottom: 10px;
    gap: 17px;
}

.opn {
    width: 100%;
    height: 405px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-inline: 40px;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.opn p {
    margin-top: 20px;
    color: gray;
}

.opn a {
    text-decoration: none;
    color: black;
}

.opn a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .maincontainer {
        width: 100%;
        height: auto;
    }

    .navbar {
        padding-inline: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nav1 h3 {
        display: none;
    }

    .nav1 img {
        width: 13.5%;
    }

    .nav2 span {
        display: none;
    }

    .nav2 button {
        display: none;
    }

    #i1 {
        display: inline;
        font-size: 1.3em;
        margin-right: 15px;
    }

    .maincontent {
        height: auto;
        width: 100%;
        padding-inline: 0;
    }

    .bi1 {
        height: auto;
        flex-direction: column;
    }

    .i1 {
        width: auto;
        height: 450px;
    }

    .i2 {
        width: auto;
        height: 245px;
    }

    .i2 p {
        display: none;
    }

    .i2 p2 {
        display: none;
    }

    .i2 p3 {
        display: none;
    }

    .i2 p4 {
        display: inline;
        text-align: center;
        margin-top: 20px;
    }

    .bi2 {
        height: auto;
        flex-direction: column;
    }

    .bi2 br {
        display: none;
    }

    .i11 {
        width: auto;
        height: 250px;
    }

    .i11 h1 {
        font-size: 2em;
    }

    .i22 {
        width: auto;
        height: 650px;
    }

    .bi3 {
        height: auto;
        flex-direction: column;
    }

    .i33 {
        width: auto;
        height: 650px;
    }

    .i44 {
        height: 250px;
        width: auto;

    }

    .i44 br {
        display: none;
    }

    .i44 h1 {
        font-size: 2em;
    }

    .bi4 {
        height: auto;
        flex-direction: column;
    }

    .i55 {
        width: auto;
        height: 245px;
    }

    .i55 p {
        display: none;
    }

    .i55 p2 {
        display: none;
    }

    .i55 p3 {
        display: inline;
        text-align: center;
        margin-top: 20px;
    }

    .i66 {
        width: auto;
        height: 450px;
    }

    .endp1 {
        display: none;
    }
}

@media (max-width: 480px) {
.nav1 img{
    width: 20%;
}

    .i1{
        height: 300px;
    }

    .i2{
        padding-inline: 20px;
    }
.i22{
    width: auto;
    height: 420px;
}
    .i33{
        width: auto;
        height: 420px;
    }

    .i44{
        height: 280px;
        padding-inline: 20px;
    }

    .i44 h1{
        font-size: 1.8em;
    }
    .i44 p{
        font-size: 1.5em;
    }

    .i66{
        width: auto;
        height: 300px;
    }
    .bi5{
      padding-inline: 20px;
    }
    .bi5 p{
        display: none;
    }
    .bi5 p2{
        display: none;
    }
    .bi5 p3{
        display: none;
    }
    .bi5 p4{
        display: none;
    }
    .bi5 p5{
        display: none;
    }
    .bi5 p6{
        display: inline;
        text-align: center;
        font-size: 14px;
    }
}